<div class="main">
    <div class="signup">
        <div class="header">
            <div>
                <i class="fa fa-arrow-circle-left fa-3x" ></i>
            </div>
            <h3>Sign Up</h3>
            <div>
                <i class="fa fa-arrow-circle-right fa-3x" ></i>
            </div>
        </div>
        <div class="body">
            <div class="first-child">
                <label>Email</label>
                <input type="text"/>
            </div>
            <div class="second-child">
                <label>Password</label>
                <input type="password"/>
                <input type="password"/>   
            </div>
        </div>  
    </div>
    <div class="title">
        <h1>FitFoodics</h1>
        <h6>your fitness App</h6>
    </div>
</div>
